<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-container">
        <%if (errorMessage) { %>
            <div class="alert alert-error">
                <%= errorMessage %>
            </div>
        <% } %>
        <%if (!isLinkValid) { %>
            <div class="alert alert-error">
                The password resat link has expired or is invalid. Generate a new one.
            </div>
        <% } else { %>
            <div class="centered padding-small">Set a new password for your account.</div>
            <form class="product-form" action="/new-password" method="POST">
                <div class="form-element">
                    <label for="password">Passwrod</label>
                    <input type="password" id="password" name="password" />
                </div>
                <input type="hidden" name="userId" value="<%= userId %>" />
                <input type="hidden" name="resetToken" value="<%= resetToken %>" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn btn-primary" type="submit">Update Password</button>
            </form>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>