<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-container">
        <%if (errorMessage) { %>
            <div class="alert alert-error">
                <%= errorMessage %>
            </div>
        <% } %>
        <div class="centered padding-small">Enter your email to receive a password reset link.</div>
        <form class="product-form" action="/reset-password" method="POST">
            <div class="form-element">
                <input type="email" id="email" name="email" />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn btn-primary" type="submit">Send Link</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>