<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-container">
        <%if (products.length > 0) { %>
            <h1>My Products</h1>
            <div class="cards-container">
                <%for (let product of products) { %>
                    <div class="item-card">
                        <div class="card-header">
                            <span><%= product.title %></span>
                            <span>$<%= product.price %></span>
                        </div>
                        <div class="card-image">
                            <img src="<%= product.imageUrl %>" alt="Item Image" />
                        </div>
                        <div class="card-body">
                            <%= product.description %>
                        </div>
                        <div class="card-footer">
                            <%if (isAdmin) { %>
                                <a href="/admin/edit-product/<%= product._id %>" class="btn btn-primary">Edit</a>
                                <a class="btn btn-danger">Delete</a>
                            <% } else { %>
                                <a href="/products/<%= product._id %>" class="btn">Details</a>
                                <%- include('../includes/add-to-cart.ejs', { product }) %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <%if (isAdmin) { %>
                    <div class="item-card add-product-card">
                        <div>
                            <h3>Add a new product</h3>
                            <a href="/admin/add-product">+</a>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div class="pg-msg-container">
                <h3>No Products Found!</h3>
                <div>Currently there are no products in stock.</div>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>